<div class="tabBar">
  <button
    class="tabBar__button"
    [ngClass]="{ 'tabBar__button--active': tabBar === 'repos' }"
    (click)="handleClick('repos')"
  >
    Repos
    <span *ngIf="userRepoList as repos" class="tabBar__repoCount">{{
      repos.length
    }}</span>
  </button>
  <button
    class="tabBar__button"
    [ngClass]="{ 'tabBar__button--active': tabBar === 'starred' }"
    (click)="handleClick('starred')"
  >
    Starred
    <span *ngIf="starredRepoList as repos" class="tabBar__repoCount">
      {{ repos.length }}</span
    >
  </button>
</div>

<app-input-filter (queryEvent)="handleQueryEmitter($event)"></app-input-filter>

<ng-container *ngIf="tabBar === 'repos' && repoList as repo">
  <app-repo-item
    *ngFor="let repo of repo"
    [repo]="repo"
    [repoType]="'user'"
  ></app-repo-item>
</ng-container>
<ng-container *ngIf="tabBar === 'starred' && repoList as starred">
  <app-repo-item
    *ngFor="let repo of starred"
    [repo]="repo"
    [repoType]="'starred'"
  ></app-repo-item>
</ng-container>
