<button (click)="handleClick('repos')">
  Repos <span *ngIf="userRepos$ | async as repos">{{ repos.length }}</span>
</button>
<button (click)="handleClick('starred')">
  Starred <span *ngIf="starredRepos$ | async as repos">{{ repos.length }}</span>
</button>
<ng-container *ngIf="tabBar === 'repos'">
  <ng-container *ngIf="userRepos$ | async as repo">
    <app-user-repos [repos]="repo"></app-user-repos>
  </ng-container>
</ng-container>
<ng-container *ngIf="tabBar === 'starred'">
  <ng-container *ngIf="starredRepos$ | async as starred">
    <app-starred-repos [repos]="starred"></app-starred-repos>
  </ng-container>
</ng-container>
