.form {
  background: transparent;
  position: relative;
  margin: 24px 32px 0 32px;
  max-width: 400px;

  &__input {
    width: 100%;
    padding: 8px 8px 8px 40px;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    color: #999999;

    &:focus {
      border: 1px solid #0969da;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
  }

  &__search {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 8px;
    z-index: 2;
  }
}

@media (min-width: 992px) {
  .form {
    margin-left: 0;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999;
}
