<section class="profile animeLeft">
  <ng-container *ngIf="userProfile$ | async as user">
    <div class="profile__imageWrapper">
      <img
        src="{{ user.avatar_url }}"
        class="profile__image"
        width="240"
        height="240"
        alt="{{ user.name }}"
      />
    </div>
    <div class="profile__content">
      <div class="profile__contentWrapper">
        <h1 *ngIf="user.name" class="profile__name">{{ user.name }}</h1>
        <p *ngIf="user.bio; else login" class="profile__bio">{{ user.bio }}</p>
        <ng-template #login>
          <p class="profile__bio">
            {{ user.login }}
          </p>
        </ng-template>
      </div>
    </div>
  </ng-container>
</section>
